name: Pull Request

on:
  pull_request:
    types: [ opened, reopened, synchronize, ready_for_review ]
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Validate commits and run tests
    if: github.event.pull_request.draft == false
    runs-on: macos-26
    
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
    
      - name: Detect breaking changes
        id: detect_breaking_changes
        continue-on-error: true
        run: swift package diagnose-api-breaking-changes "origin/${{ github.base_ref }}"
    
      - name: Validate pull request title
        uses: ./
        with:
          ACTION_TYPE: 'Validate'
          CONTAINS_BREAKING_CHANGE: ${{ steps.detect_breaking_changes.outcome != 'success' }}

      - name: Run Tests
        run: swift test
