name: Pull Request

on:
  pull_request:
    types: [ opened, reopened, synchronize, ready_for_review ]
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Validate commits and run tests
    if: github.event.pull_request.draft == false
    runs-on: macos-26
    
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
    
      - name: Detect breaking changes
        id: detect_breaking_changes
        continue-on-error: true
        run: swift package diagnose-api-breaking-changes "origin/${{ github.base_ref }}"
    
      - name: Validate pull request title
        run: |
          echo "outcome: ${{ steps.detect_breaking_changes.outcome }}"
        
          if [ ${{ steps.detect_breaking_changes.outcome }} == "success" ]; then
            export is_breaking=false
            echo "not breaking"
          else
            export is_breaking=true
            echo "is breaking"
          fi;
        
          swift run Run \
            --message "${{ github.event.pull_request.title }}" \
            --require-breaking-change $is_breaking
    
      - name: Run Tests
        run: swift test
